meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Procedimiento de auditorías
meta(meta name="description" content="Para lograr una adecuada gestión en las empresas es necesario hacer uso de las auditorías, un examen de los procesos y procedimientos ejecutados para observar su rendimiento, así mismo para identificar los puntos clave y generar acciones de mejora que garanticen la calidad del producto. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")