h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Procedimiento de auditoría', 'main.html#page/Procedimiento_de_auditoria/')
                    +navTemaItem('2', 'Tipos de auditorías', 'main.html#page/Tipos_de_auditorias/')
                    +navTemaItem('3', 'Premios de calidad', 'main.html#page/Premios_de_calidad/')
                    +navTemaItem('4', 'Norma ISO 19011', 'main.html#page/Norma_ISO_19011/')