.container
    .header-ecored
        h1 1. Procedimiento de auditoría
    .jumbotron.bg-white.shadow
        img.img-a(src="assets/images/pages/ilustraciones/img2.jpg", alt="").img-fluid
        .caja-azul
            p Las especificaciones de calidad establecidas para un producto son dadas por las normas relacionadas con este y las políticas de calidad de la empresa. Cada empresa desarrolla su normatividad, procedimientos e instructivos para realizar los procesos productivos, así mismo para realizar las inspecciones.
        p.mt-5 La auditoría es el análisis en donde se compara el grado de cumplimiento de los requisitos de calidad establecidos por la empresa, por la norma o por el cliente. Por lo tanto se constata un hecho y se informa el cumplimiento con las normas y procedimientos. 
        p La información recolectada en una auditoría debe presentarse en informes a la dirección de la empresa, una vez se ha comunicado los resultados a los líderes y personas encargadas del proceso. Dentro del informe se debe describir, el método utilizado en la auditoría, la valoración de las áreas o procesos auditados, y las observaciones y mediciones realizadas. Las propuestas, en otras palabras, son las acciones de mejora, se deben presentar, una vez se realice un análisis dispendioso y realista con el fin de cumplir con los objetivos de calidad de la empresa.
        p Una vez la alta gerencia reciba los informes debe evaluar de manera objetiva y con mirada sistemática la eficacia del sistema de calidad y estratificar las situaciones de riesgo para dirigir su atención a los planes de mejora que fortalezcan la gestión de la calidad.
        .sub-ecored#11.mt-5
            h2 1.1. Características de la auditoría 
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img(src="assets/images/pages/ilustraciones/img3.svg", alt="").img-fluid
            .col-8    
                p Toda auditoría debe ser realizada en forma analítica, sistémica y con un amplio sentido crítico por parte del auditor.  Cada proceso debe estar libre de conflictos de intereses del examinador, quien actuará siempre con independencia para que su opinión tenga una verdadera validez ante los usuarios de esta.
                p La Auditoría al ser un proceso de evaluación debe poseer un patrón contra el cual efectuar la comparación y poder concluir sobre el sistema de producción examinado. Para realizar una Auditoría, se requiere que el auditor tenga un gran conocimiento sobre la estructura y el funcionamiento tanto de la unidad económica de la empresa como del proceso que se inspecciona así como de la normatividad legal a la cual está sujeta.
                p Las auditorías en la empresa deben ser continuas y deben contribuir de forma efectiva y oportuna a la identificación, análisis y evaluación de los riesgos, por lo tanto deben ser estratégicas, es decir enfocadas en proporcionar una solución, objetivas y confiables.  Así mismo los auditores deben actuar basados en conductas éticas de confidencialidad, discreción e integridad. 
        .sub-ecored#12.mt-5
            h2 1.2. Procedimiento de la auditoría
        .jumbotron.color-rosa
            .row.justify-content-center.align-items-center
                .col-4
                    img.img-a(src="assets/images/pages/ilustraciones/img4.svg", alt="").img-fluid
                .col-8
                    p Como todo procedimiento la auditoría se compone de las siguientes actividades: 
                    .list.mt-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Definir objetivos para tener claro que se va a auditar y para qué.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Encaminar las actividades en lo relacionado con la calidad, con el fin que no se genere desenfoque o dispersión de las acciones.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Auditar todos los criterios de calidad.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Evaluar acciones desarrolladas entre las áreas.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Su naturaleza es la objetividad.
                    .list
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                        .list__txt 
                            p Basada en resultados, mostrados en evidencias.
        h3.mt-5 El procedimiento de la auditoría se desarrolla en tres fases: 
        .row.justify-content-center.mt-5
            .col-3.borde-azul
                img.img-top(src="assets/images/pages/ilustraciones/img5.svg", alt="").img-fluid
                p.mt-3 Desarrollar un plan de auditorías descrito en el programa de calidad, el cual debe ser aprobado por la dirección de la empresa.
                p.p-azul Tener aprobación del equipo de calidad.
                p Alistar la norma con la que se va a auditar, sistema de evaluación comprendida por los criterios, escala de medición y ponderación de cada aspecto a evaluar.
                p Informar a las personas encargadas del proceso a auditar: qué, cómo y cuando  se va a auditar.  
            .col-3.borde-azulc
                img.img-top(src="assets/images/pages/ilustraciones/img6.svg", alt="").img-fluid
                p.mt-3 Acceso a la documentación asociada del proceso a auditar.
                p.p-azul Acceso a las actividades a auditar.         
            .col-3.borde-azul
                img.img-top(src="assets/images/pages/ilustraciones/img7.svg", alt="").img-fluid
                p.mt-3 Comunicar los hallazgos encontrados, con el fin de comparar la óptica del auditado y estructurar la apreciación firme del auditor.
                p.p-azul Revisar los hallazgos según las respuestas de la persona auditada, si es necesario recoger nueva información, la cual se debe incluir en el informe.
                p Reunir a los auditores para intercambiar información, consolidar un informe para establecer las propuestas a la dirección.
                p.p-azul Presentar el informe a la dirección.
                p Auditar nuevamente con el fin de revisar los avances según las acciones de mejora definidas por la dirección.
        .sub-ecored#13.mt-5
            h2 1.3. Plan anual de auditoría  
        p.mt-5 Las auditorías generan un plan, el cual debe estar constituido dentro del programa de calidad de la empresa en el que se detalla lo que se va a auditar, el lugar, los tiempos, el método y el tipo de auditoría. 
        p Los planes de auditorías deben estar programados de manera anual, además de conformar los equipos de auditores los cuales tendrán claro los aspectos a auditar. El equipo definido de auditores realiza un cronograma de actividades anual el cual debe ejecutarse conforme a lo planeado. 
        p Los aspectos del plan anual de auditorías se pueden observar a continuación:
        .row.justify-content-center.p-azul.p-4.rounded
            .col-11
                img.img-a(src="assets/images/pages/ilustraciones/img8.svg", alt="").img-fluid
        h3.mt-5 Los planes deben tener en cuenta:
        .jumbotron.color-rosa
            .list.mt-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Normas aplicables, personas, sistema de evaluación, el procedimiento, la comunicación de los resultados relacionados con los aspectos a auditar.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Información histórica de acciones correctivas anteriores, quejas y reclamos de los clientes, costos de calidad.
        img.img-a(src="assets/images/pages/ilustraciones/img9.svg", alt="").img-fluid
        .sub-ecored.mt-5
            h3 1.3.1. Manual de auditoría.
        p.mt-5 La recopilación de los procedimientos de las auditorías constituye un manual, el cual garantiza realizar de manera óptima el plan. 
        p El manual debe comprender las siguientes partes:
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img(src="assets/images/pages/ilustraciones/img10.svg", alt="").img-fluid
            .col-8    
                .list
                    .list__item
                        .list__item__number
                            span 1.
                    .list__txt 
                        p.mt-1 Objetivos de las auditorías.
                .list
                    .list__item
                        .list__item__number
                            span 2.
                    .list__txt 
                        p.mt-1 Introducción de las auditorías.
                .list
                    .list__item
                        .list__item__number
                            span 3.
                    .list__txt 
                        p.mt-1 Descripción de las necesidades del equipo auditor.
                .list
                    .list__item
                        .list__item__number
                            span 4.
                    .list__txt 
                        p.mt-1 Descripción de NAC (Nivel Aceptable de Calidad).
                .list
                    .list__item
                        .list__item__number
                            span 5.
                    .list__txt 
                        p.mt-1 Determinar los procedimientos de muestreos, selección de la muestra y cantidad de muestra.
                .list
                    .list__item
                        .list__item__number
                            span 6.
                    .list__txt 
                        p.mt-1 Las normas asociadas.
                .list
                    .list__item
                        .list__item__number
                            span 7.
                    .list__txt 
                        p.mt-1 Metodología de recolección, tabulación y presentación de resultados.
                .list
                    .list__item
                        .list__item__number
                            span 8.
                    .list__txt 
                        p.mt-1 Metodología de difusión de los resultados a las áreas interesadas.
                .list
                    .list__item
                        .list__item__number
                            span 9.
                    .list__txt 
                        p.mt-1 Estructura de planes de mejora.
                .list
                    .list__item
                        .list__item__number
                            span 10.
                    .list__txt 
                        p.mt-1 Frecuencia de ejecutar auditorías.
                .list
                    .list__item
                        .list__item__number
                            span 11.
                    .list__txt 
                        p.mt-1 Descripción de la metodología para el seguimiento de avances de las acciones de mejora.
        p.mt-5 Las ventajas de contar con un manual de auditoria es que se puede conocer el proceso, por tanto facilita las acciones de la auditoría y se confía en sus propias observaciones. En cuanto a las desventajas se puede mencionar que en la recolección de datos pueden obviar ciertos datos que afecten el desempeño de calidad del módulo y al no tener información documentada se dificulta establecer acciones que mejoren los resultados de calidad, asi como que se pueden generar falta de condiciones óptimas como tiempo para realizar una auditoría de manera exhaustiva.
        p Como se había mencionado antes el personal es un recurso de la empresa y por consiguiente la auditoría requiere de personas con formación, experiencia y pensamiento crítico para el desempeño de sus funciones. Por lo que los auditores pueden ser: 
        .jumbotron.color-rosa
            .list.mt-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Coequiperos de la misma área a auditar. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Inspectores de calidad, personas especializadas de mando medio, que cuentan con independencia con respecto del objeto a auditar. Su participación no afecta los costos de calidad pues mantiene el costo derivado de sus funciones y puede suceder que sus observaciones no tengan el impacto esperado en la dirección para que se realicen las acciones necesarias.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Auditores esporádicos son personas que trabajan en otra área de la empresa, pero tienen la experiencia como auditor, de forma que al participar en los procesos de auditoría adquiere nuevos conocimientos sobre el funcionamiento de la empresa, asi mismo, las actividades que realiza en otro espacio pueden afectar la actividad de auditoría encomendada.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Auditores parciales, son personas que hacen parte del equipo de calidad y dentro de sus actividades está la de realizar auditorías, cuentan con la formación y la experiencia en la actividad, pero generalmente no cuentan con tiempo disponible para atender de manera completa las auditorías y acciones asociadas a la misma, de manera diaria o inmediata. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Auditores totales, son personas externas a la empresa contratadas para realizar la actividad. Cuentan con el tiempo y la experiencia para atender de manera óptima las auditorías necesarias y tienen credibilidad en la parte operativa y dirección para la toma de decisiones.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Auditores externos, son también llamados también consultores, los cuales cuentan con alto nivel académico y experiencia que genera credibilidad para los objetivos planteados de la auditoría, son contratados por la necesidad de la empresa en los casos de solicitud de la certificación en una norma, como es el caso de la norma ISO 9001:2015.También son encargadas de evaluar el sistema de gestión de la empresa certificadora.
        p.mt-5 Las personas que hacen parte de un equipo auditor deben cumplir con un perfil definido por su formación integral,  su experiencia, capacitación, nivel de especialización y compromiso ético con sus actividades. 
        p Teniendo en cuenta lo anterior se describen las siguientes características que debe cumplir un auditor:
        .jumbotron.color-rosa
            .list.mt-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Título profesional en áreas similares de los procesos estratégicos y de apoyo en las empresas.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Experiencia en el manejo de normas y procesos interdisciplinarios como financiero, comercial, administrativo, legal.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Capacidad de trabajo en equipo y manejo de excelentes relaciones interpersonales.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Conocimiento en normas legales de los procesos de la empresa.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Tener las habilidades y capacidades técnicas para desarrollar las funciones asignadas. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Ser buen observador crítico, analítico y sensato para emitir juicios.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Tener cualidades de pedagogía con el fin de propiciar un entorno de aprendizaje.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Demostrar a través de sus juicios y actuaciones reconocimiento y respeto por parte de los auditados. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Independencia de criterios, trabajar de manera libre, e informar si se presenta alguna inhabilidad.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Capacitación continua en auditorías o temas relacionados con las diferentes empresas y sus procesos.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Capacidad de análisis y proyección de la situación para establecer decisiones acertadas.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Tener valores como conciencia social, solidaridad, compromiso, ética en su actuar. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Capacidad de afrontar retos y destreza para comunicarse tanto de forma oral como escrita.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Debe ser objetivo, su opinión debe ser honesta e imparcial.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt
                    p Contar con competencias digitales.
        .sub-ecored.mt-5
            h3 1.3.2.	Planificación de la auditoría.
        p.mt-5 En cuanto a los encargados de planear las auditorías depende de la naturaleza de esta, si es interna es la empresa en su programa de auditorías quien las planea, en el caso que se encuentre en proceso de certificación, la planeación de la auditoría la realiza la empresa auditora y el auditor asignado.
        p Una vez se realiza la auditoría para procesos de certificación de alguna norma, se presentan tres opciones de decisión a tomar derivada de los resultados encontrados:
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img(src="assets/images/pages/ilustraciones/img11.svg", alt="").img-fluid
            .col-8    
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p El sistema de calidad está cumpliendo con los requisitos de la norma relacionada. 
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p El sistema de calidad no está cumpliendo con los requisitos de la norma relacionada. Presenta observaciones o hallazgos los cuales se pueden subsanar si se realizan acciones correctivas que pueda hacer que se acepte el sistema de calidad.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p El sistema de calidad no cumple con los requisitos de la norma relacionada.
        p.mt-5 El resultado de la auditoría impacta no solo a la empresa, incluye al cliente quien puede establecer la norma como condición para las relaciones de negocios con la empresa auditada.  En la siguiente figura podemos observar la dimensión humana y los aspectos relacionados.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img12.svg", alt="").img-fluid
        p.mt-5 Sean las auditorías internas o externas, es importante mencionar la participación del personal de la empresa en el desarrollo de la auditoría, siempre y cuando se encuentre especificado en sus responsabilidades; realizan las siguientes acciones:
        .jumbotron.color-rosa
            .list.mt-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Responden las preguntas formuladas por el auditor de manera precisa y concreta, mostrando las evidencias solicitadas.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Asisten a las reuniones de apertura y cierre con actitud de atención y disposición.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Si es su competencia, maneja el producto y los métodos para su inspección.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Acompaña al auditor en sus actividades y si es asignada la función apoya para guiarlo en la empresa.
        p.mt-5 Uno de los recursos de especial atención es el espacio para que el auditor pueda realizar sus actividades, los cuales deben cumplir con las siguientes condiciones:
        .jumbotron.color-rosa
            .list.mt-3
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Espacio cómodo cuya área sea holgada para poder colocar muebles y equipos, además debe tener privacidad para revisar con tranquilidad sus documentos o elementos a inspeccionar. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Espacio con seguridad para resguardar los documentos auditados, registros e informes.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Dotado de recursos como computador, impresoras, acceso a internet para realizar los análisis y la generación de informes.        
        .sub-ecored.mt-5
            h3 1.3.3. Análisis del sistema de calidad.
        p.mt-5 Se realiza conforme al sistema de gestión de la empresa y a su vez a las normas relacionadas. La extensión del análisis depende de las intenciones de la auditoría, en el caso que sea conforme a una norma, depende de las actividades estipuladas a auditar dentro de la misma.
        p Los aspectos para analizar en las auditorías se pueden observar en la siguiente tabla:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.svg", alt="").img-fluid