.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Efectividad:
            | considerada como el equilibrio entre la efectividad y la eficacia.
        p
            strong.mr-2 Eficacia:
            | es el nivel de la capacidad de conseguir los logros propuestos.
        p 
            strong.mr-2 Eficiencia:
            | es la relación dada por los resultados obtenidos por la optimización en la utilización de los recursos.
        p 
            strong.mr-2 #[i Good Will]:
            | Se refiere al prestigio alcanzado por la empresa, el buen nombre que hace que se valore el negocio comercialmente.
        p
            strong.mr-2 #[i Staff]:
            | equipo de personal que realizan actividades de asesoramiento.