.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Colombia Productiva. (2020). Premio Nacional de la Calidad a la Exportación.
                    td Página web
                    td 
                        a(href="https://www.colombiaproductiva.com/premio-colombiano-a-la-calidad", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Rodríguez, D.M., García, C.A., Ruiz, J.C. (2016) La auditoría y su control de calidad: una mirada desde las normas de aseguramiento de la información en Colombia. Contexto 5, 63- 74.
                    td PDF
                    td 
                        a(href="media/documentos/La_auditoria_y_su_control_de_calidad.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA (1990) Procedimientos para el control de la calidad.
                    td PDF
                    td 
                        a(href="media/documentos/Procedimientos_para_el_control_de_calidad.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA. (2020). Informe de auditoría.
                    td Archivo Excel
                    td 
                        a(href="media/documentos/Informe_de_auditoria.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA. (2020). Lista de verificación auditoría interna.
                    td Archivo Excel
                    td 
                        a(href="media/documentos/Lista_de_verificacion_auditoria_interna.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA. (2020). Plan de auditoría.
                    td Archivo Excel
                    td 
                        a(href="media/documentos/Plan_de_auditoria.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA. (2020). Programa anual de auditoría.
                    td Archivo Excel
                    td 
                        a(href="media/documentos/Programa_anual_auditoria.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar